body{
   background-color: #6971ff;
}

.header h1{
   color: black;
   text-align: center;
}

.header .navigation-bar{
  display: flex;
  padding: 10px;
  gap: 55px;
  justify-content: center;
}

.header .navigation-bar div {
  color: black;
}

.header .navigation-bar div a{
  color: black; 

}

